</section>

<div class="footermain">
<footer>
    <div class="containers">
        <p>Maghraby &#169; 2024 All rights reserved </p>
    </div>
</footer>
</div>

<script src="https://kit.fontawesome.com/e69af74b24.js" crossorigin="anonymous"></script>
</body>
</html>