<%- include("../common/header") -%>
<div class="about">
<div class="containers">
    <div class="forms">
<h1>Small Pref About us </h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis odio velit quasi tempore commodi praesentium maxime sed rerum excepturi porro eius possimus error quas vel, explicabo repellat sint enim labore?Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis odio velit quasi tempore commodi praesentium maxime sed rerum excepturi porro eius possimus error quas vel, explicabo repellat sint enim labore?Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis odio velit quasi tempore commodi praesentium maxime sed rerum excepturi porro eius possimus error quas vel, explicabo repellat sint enim labore?</p>
</div>

<div class="icons">
<div class="iconsContent">
    <img src="/imgs/portfo1.webp" alt="" >
    <img src="/imgs/portfo2.webp" alt="" > 
    <img src="/imgs/portfo3.webp" alt="" >
    <img src="/imgs/portfo4.webp" alt="" >
</div>
</div>
</div>
</div>

<%- include("../common/footer") -%>