    
    <%- include("../common/header") -%>


    
    

    <div class="containers ">
        <div class="compose ">
            <h1>Compose  </h1>
            <form action="/" method="post">
            <p>Title</p>
            <input class="form-control wrap" class="sequance" type="text" name="TN" >
            
            <p>Content</p>
            <textarea class="form-control wrap" name="PN" placeholder="Type Something.."></textarea>
            <div class="composebtn">
            <button type="submit" name="button" class="btn btn-primary btn-sm" > Post </button>
             </div>
            </form>
        </div>
    </div>

    <%- include("../common/footer") -%>