 
   <%- include("../common/header") -%>
   <section id="contactus ">
 <!-- Contact  -->
 <div id="contactid" class="contact">
    <div class="containters">
      <div class="contact-text">
        <h2>Feel Free to drop us a line at :</h2>
        <h2>ibrahim-maghraby@gmail.com</h2>
        <p>
          Find us on social networks:
          
          <a href="https://twitter.com/MaghrabyHema"target="_blank"><i class="fa-brands fa-twitter"></i></a>
          <a href="https://www.facebook.com/Ibrahim.A.Maghrabi/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
           <a href="https://mail.google.com/mail/u/0/#inbox?compose=CllgCJvpZrwpwprqNTvgdrJNxDLwCQppdCTLdWVWmqVqStxpqXBWGRmVzNsjzvngVlbvGFNmlQq" target="_blank"><i class="fa-brands fa-google-plus-g"></i></a>
        
          
        </p>
      </div>
      <img class="contactimg" src="/imgs/contactus.webp" alt="" height="500px" width="375px" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); margin-top: 180px; z-index: -1;">
    </div>
  </div>

  <%- include("../common/footer") -%>



